html,
.leaflet-container {
    background-color: rgba(255, 0, 0, 0.0);
}

body {
    margin-top: 1.0em;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #333;
}

#container {
    margin: 0 auto;
    width: 800px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 3px;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #809bc0;
    font-style: italic;
}

h3 {
    text-align: center;
    color: #333;
}

a {
    color: #809bc0;
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.download {
    float: right;
}

#map {
    width: 800px;
    height: 600px;
    border: 2px solid #ccc
}

#map:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:-ms-fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

#map:fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999;
}

.leaflet-control-zoom-fullscreen {
    background-image: url(https://github.com/brunob/leaflet.fullscreen/raw/master/icon-fullscreen.png);
}

.leaflet-retina .leaflet-control-zoom-fullscreen {
    background-image: url(https://github.com/brunob/leaflet.fullscreen/raw/master/icon-fullscreen-2x.png);
    background-size: 26px 26px;
}
